[Unit]
Description=Dead mans switch timer
Requires=dead-mans-switch.service

[Timer]
OnCalendar=*:0/59
Unit=dead-mans-switch.service

[Install]
WantedBy=multi-user.target
